# API Keys
XAI_KEY=xai-5yNN9jEuE8jKUeu6xgHoIiMJmaVOgg7C5wwz7UqBt62ZlRPjFcFshuQTHftKujjwYTaznSOgNQvUPj6a

# LLM configuration - currently set for xai/Grok API
GROK_BASE_URL=https://api.x.ai
GROK_MODEL=grok-2-latest

# Application configuration
DEBUG=False

# Logging
LOG_LEVEL=INFO