# python
.env
__pycache__/
.runs/
/venv
flow/venv/*
/run/*
/secrets/
.secrets/

# promptflow
.promptflow/*
!.promptflow/flow.tools.json
flow.log
flow.detail.json
flow.output.json

# IDE specifics
.idea
.vscode

# Mac files
.DS_Store

.python-version

.pytest_cache/
/.pytest_cache/
**/.pytest_cache/
.pytest_cache/
**/.pytest_cache/


# Design files
future_design.txt


# Claude files
CLAUDE.md
azureopenai.py
instructions.txt